#earth {
    /* [1] Allow it to contain the absolutely positions pseudo-elements (later-on) */
    position: relative;
    /* [2] Set-up the dimensions and spacing */
    width: 10px;
    height: 10px;
    margin: 1px auto;
    /* [3] Prepare the animation effects */
    transition: transform 1000ms linear;
    animation: rotate 10s linear infinite; /* This is going to be defined in the next step */
  
    /* [4] Tweak the appearance, and give it a nice background i.e. the world map */
    color: #000;
    border-radius: 50%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Blue_Marble_2002.png/1920px-Blue_Marble_2002.png");
    background-size: 30px;
    background-repeat: repeat / x;
    box-shadow: inset .5px 0 .5px 1px rgba(0, 0, 0, 1);
  
    /* [5] Position things in a 3d space */
    transform-style: preserve-3d;
  }
  #earth:after {
    /* [1] Break the flow to show this as an overlay */
    position: absolute;
    top: 0;
    left: 0;
  
    /* [2] Make it take all the space available in the box (ahem... globe!) */
    width: 100%;
    height: 100%;
  
    /* [3] Make sure this has no generated content, as we want this just for fancy purposes */
    content: '';
  
    /* [4] Give it some shape and shadow */
    border-radius: 50%;
    /* box-shadow: 0px 10px 10px 10px rgba(0,0,0,.9) inset; */
  }
  #earth:before {
    /* [1] Again, break the flow to show this as an overlay */
    position: absolute;
    top: 0;
    left: 0;
  
    /* [2] Again, give it all the available space */
    width: 100%;
    height: 100%;
  
    /* [3] Duh. */
    content: '';
  
    /* [4] Add some shape and overlay effect to it */
    opacity: .02;
    border-radius: 50%;
    background: radial-gradient(circle at 20px 20px, #fff, #000);
  }
  @keyframes rotate {
    0% {background-position: 0% 50%;}

    25% {background-position: -30% 50%;}

    50% {background-position: -60% 50%;}

    75% {background-position: -90% 50%;}

    100% {background-position: -120% 50%;}
  }